<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{cabecalho :: head('motos')}"> </header>
<body>
	<nav th:replace="~{menu}"></nav>
	<div class="container mt-3">
		<h3>Motos</h3>
		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>Fabricante</th>
					<th>Modelo</th>
					<th>Cor</th>
					<th>Ano</th>
					<th>Cilindrada</th>
					<th>Assentos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="moto : ${listaMotos}">
					<td th:text="${moto.getFabricante()}"></td>
					<td th:text="${moto.getModelo()}"></td>
					<td th:text="${moto.getCor()}"></td>
					<td th:text="${moto.getAno()}"></td>
					<td th:text="${moto.getCilindrada()}"></td>
					<td th:text="${moto.getAssentos()}"></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<a type="button" class="btn btn-secondary" href='/moto/criar'>Criar Moto </a>
		</div>
	</div>
</body>
</html>